/* App.css */

*{
  font-family: 'Lugrasimo', cursive;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Lugrasimo', cursive;
  font-size: small;
 
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     */
  
   
}

button{
  background-color: rgba(252, 246, 246, 0.986)!important;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
   color: black!important;
}

button:hover{
  background-color: white!important;
}




@media screen and (max-width: 768px){
  body {
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    /* font-family: 'Lugrasimo', cursive; */
      font-family:Arial, Helvetica, sans-serif
    
     
  }

}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(186, 219, 219, 0.637);
  padding: 10px;
  flex-wrap: wrap;
  
}

.nav a {
  text-decoration: none;
  color: black;
  
}

.namelog {
  display: flex;
  gap: 20px;
  align-items: center;
}

.namelog div {
 
  font-size: 18px;
}

.namelog button {
  padding: 6px 12px;
  background-color:  #4caf50;;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
}

.item-1 {
  flex: 1;
}

.item-2 {
  
  flex: 0.3;
  margin-left: 20px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.slider{
  display: none;
}

@media (max-width: 767px) {
 .nam{
  display: none;
 }
 .item-2{
  display: none;
 }
 .slider{
  display: block;
 }
} 


.home-button {
  background-color:  #4caf50; 
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.namelog button:hover {
  background-color:  #45a049;;
}

.addm{
  cursor: pointer;
}

