.loginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family:Arial, Helvetica, sans-serif!important
}

.loginform {
  width: 300px;
  padding: 100px;
  background-color: #c0eeec;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.loginform label {
  display: block;
  margin-bottom: 10px;
}

.loginform input[type="text"],
.loginform input[type="password"] {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.loginform button.btn {
  width: 100%;
  padding: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.loginform button.btn:hover {
  background-color: #45a049;
}

.loginform .text {
  margin-top: 10px;
  text-align: center;
  font-size: 14px;
}

.loginform span{
  cursor: pointer;
  color: #4caf50;
  text-decoration: none;
}


.pass{
  font-size:small;
}



@media screen and (max-width: 768px) {
  
  .loginform {
   margin-left: auto;
   margin-right: auto;
  margin-top: 20%;
  /* position: absolute;
  top: 10%; */
  /* margin-left: -39%;
  left: 50%; */
  
   width: 300px;
    padding: 10%;
    border-radius: 35px;
    
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

  .loginpage{
    display: block;
  
    background-color: #f2f2f2;
  }

  .loginform input[type="text"],
.loginform input[type="password"] {
  width: 90%;
  padding: 8px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
}




}
