/* search.css */


  .search label {
    display: flex;
    align-items: center;
    margin: 20px 0px;
    padding: 10px;
    border-radius: 4px;
    justify-content: center;
  
  }
  
  .search input[type="text"] {
    border: none;
    outline: none;
    padding: 8px;
    margin-right: 10px;
    font-size: 14px;
    width: 80%;border-radius: 10px;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.1);
  }
  
  .search button {
    padding: 8px 16px;
    background-color: rgba(6, 105, 105, 0.637);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
  }
  
  .search button:hover {
    background-color: rgb(0, 121, 143);
  }
  
  .search .result {
    margin-top: 10px;
    font-size: 14px;
    color: #666;
  }
  